body {
    background-color: #e8e15a;
}

header {
  margin-bottom: 20px;
}

footer {

    background-color: #0c0b12;
    padding: 20px 0;
    color: #ffffff;
    padding: 30px;
    margin-top: 20px;
  }

  
footer .logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  



  
  