{% extends 'taller/Base.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="card">
    <div class="card-body">
        <h2>Listado de Productos</h2>
        <a href="/agregar-producto" class="btn btn-info btn-sm">Agregar Producto</a>
        <hr>
    
<table class="table table-striped table-hover table-responsive-sm">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Costo</th>
        <th>Proveedor</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>Descripción</th>
        <td>Opciones</td>
    </tr>

    {% for p in productos %}
    <tr>
        <td>{{ p.codigo | title }}</td>
        <td>{{ p.nombre | title }}</td>
        <td>${{ p.costo | intcomma }}</td>
        <td>{{ p.proveedor | title }}</td>
        <td>{{ p.cantidad | intcomma }}</td>
        <td>{{ p.fecha | date }}</td>
        <td>{{ p.descripcion | title }}</td>
        <td>
            <a href="{% url 'modificar' p.id %}"  class="btn btn-info btn-sm">Modificar</a>
            <a href="{% url 'eliminar' p.id %} " class="btn btn-danger btn-sm">Eliminar</a>
        </td>
        
    </tr>
    {% endfor %}
    <tr>
        <td colspan="7">
            <a href="{% url 'generar_orden_pedido_pdf' %}" class="btn btn-primary d-flex justify-content-center">Generar Orden de Pedido</a>
        </td>
    </tr>
</table>
</div>
</div>

{% endblock %}