{% extends 'taller/Base.html' %}
{% load static %}


<!-- Contenido CSS  -->
{% block css %}

{% endblock %}



<!-- Contenido Principal -->
{% block content3 %} 


{% endblock %}

{% block content %}


<br><br>
<div class="card">
    <div class="card-body">

        <h2>Agenda</h2>
        <hr>

        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>RUT</th>
                <th>NOMBRE</th>
                <th>TELEFONO</th>
                <th>EMAIL</th>
                <th>DETALLE</th>
                <th>FECHA</th>
                <th>OPCIONES</th>


            </tr>
            {% for p in reservas %}
            <tr>
                <td>{{ p.rut | title }}</td>
                <td>{{ p.nombre | title }}</td>
                <td>{{ p.telefono | title}}</td>
                <td>{{ p.email | title}}</td>
                <td>{{ p.detalle | title }}</td>
                <td>{{ p.fecha | title }}</td>
                <td>
                    {% if perms.taller.change_trabajo %}
                    <a href="{% url 'edithora' p.id %}" class="btn btn-dark btn-sm">MODIFICAR</a>
                    {% endif %}
                    {% if perms.taller.delete_trabajo %}
                    <a href="{% url 'eliminarhora' p.id %}" class ="btn btn-danger btn-sm">ELIMINAR</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</div>




{% endblock %}


<!-- Contenido Final  -->
{% block content2 %}


{% endblock %}