{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="{%static 'images/RM.ico'%}">
  <title>Rayo Makween</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/Index.css' %}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0c0b12;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{%static 'images/logo.png'%}" alt="Rayo Makween" width="30" height="30">RayoMakween</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="trabajos.html">Trabajos realizados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/agendar">Agendar</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          <form class="d-flex">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-light" type="submit">Buscar</button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 20px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'images/afinamiento.jpg'%}" class="d-block w-100" alt="afinamiento">
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/lubricentro.jpg'%}" class="d-block w-100" alt="lubricentro">
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/alineacion.jpg'%}" class="d-block w-100" alt="alineacion">
      </div>
      <div class="carousel-item">
        <img src="{%static 'images/pintura.jpg'%}" class="d-block w-100" alt="pintura">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="{%static 'images/mantenimiento.jpg'%}" class="card-img-top" alt="mante">
          <div class="card-body">
            <h5 class="card-title">Mecanica General</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolore commodi quibusdam enim.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{%static 'images/pintura.jpg'%}" class="card-img-top" alt="tren">
          <div class="card-body">
            <h5 class="card-title">Pintura</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolore commodi quibusdam enim.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{%static 'images/lubricentro.jpg'%}" class="card-img-top" alt="lubri">
          <div class="card-body">
            <h5 class="card-title">Chequeo General</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolore commodi quibusdam enim.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{%static 'images/afinamiento.jpg'%}" class="card-img-top" alt="afina">
          <div class="card-body">
            <h5 class="card-title">Servicio de Scanner</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolore commodi quibusdam enim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <div class="container2">
        <div class="logo">
          <img src="{%static 'images/logo.png'%}" alt="rayo" width="200" height="auto" class="rounded mx-auto d-block">
        </div>
        <div class="info">
          <h3>Rayo Makween - Taller mecanico</h3>
          <ul>
            <li>Calle Siempreviva, Santiago</li>
            <li>Teléfono: (569) 5555-5555</li>
            <li>Correo electrónico: info@rayomakween.com</li>
          </ul>
        </div>
      </div>
      <div class="social">
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var carousel = new bootstrap.Carousel(document.getElementById('carouselExampleCaptions'), {
        interval: 3000
      });
    });
  </script>

</body>

</html>
