{% extends 'taller/Base.html' %}
{% load static %}

<!-- Contenido CSS  -->
{% block css %}

{% endblock %}


<!-- Contenido Principal -->

{% block content %}

<div class="container mt-4">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="{%static 'images/soldaduras.jpg'%}" class="card-img-top" alt="soldar">
          <div class="card-body">
            <h5 class="card-title">Soldadura de escape</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolore commodi quibusdam enim.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{%static 'images/alineacion.jpg'%}" class="card-img-top" alt="tren">
          <div class="card-body">
            <h5 class="card-title">Alineación</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolore commodi quibusdam enim.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{%static 'images/rectificadoMotor.jpg'%}" class="card-img-top" alt="lubri">
          <div class="card-body">
            <h5 class="card-title">Rectificado de Motor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolore commodi quibusdam enim.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="{%static 'images/frenos.jpg'%}" class="card-img-top" alt="frenos">
          <div class="card-body">
            <h5 class="card-title">Cambio de discos de freno</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus dolore commodi quibusdam enim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


<!-- Contenido Final  -->

{% block content2 %} 


{% endblock %}